<img class="back-image" src="../../../assets/images/20160607153126-coffee-cafe-breaks-food-eating-espresso-restaurant-relaxation.jpeg">

<div class="container">
		<div class="jumbotron" style="margin-top: 20px">
	<div class="row justify-content-center coloredTxtNoHover" style="margin-top: 30px">
		<h1>Προϊόντα</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-xs-6 ">
			<ngb-pagination [collectionSize]="total" (pageChange)="loadPage($event)" [(page)]="page"
				[pageSize]="pageSize" class="d-flex justify-content-end bgbutton">
			</ngb-pagination>
		</div>
		<div class="ml-auto">
			<a class="btn coloredBg-rev custom-fa-rev no-focus " [routerLink]="['/admin/create-product']"><span
					class="fa fa-plus-square"></span>&nbsp;Νέο Προϊόν</a>
		</div>
	</div>
	<div class="row justify-content-center">
		<table class="table table-striped table-sm coloredTxtNoHover" bordercolor="#ffc107">
			<thead>
				<tr>
					<th scope="col">Όνομα</th>
					<th scope="col">Περιγραφή Προϊόντος</th>
					<th scope="col">Κατηγορία</th>
					<th scope="col">Ενεργειες</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of products$ | async">
					<td>{{product.name}}</td>
					<td>{{product.description}}</td>
					<td>{{product.category}}</td>
					<td>
						<ul>
							<li>
								<a class="btn coloredBg-rev custom-fa-rev no-focus" [routerLink]="['/admin/edit-product', product.id]"><span
										class="fa fa-edit"></span></a>
							</li>
							<li>
								<button class="btn coloredBg custom-fa no-focus" (click)="deleteProduct(product)"><span
										class="fa fa-trash"></span></button>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>