<div class = "container">
<table class = "row-border hover" datatable>
  <thead>
    <tr>
      <th>Όνομα</th>
      <th>Περιγραφή προϊόντος</th>
      <th>Κατηγορία</th>
      <th>Ενέργειες</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let product of products">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.category}}</td>
          <td>
            <ul>
                <li>
                  <a class = "btn btn-warning" [routerLink] = "['/admin/edit-product',product.id]"><span class = "fa fa-edit"></span></a>
                </li>
                <li>
                  <button class = "btn btn-danger" (click)="deleteProduct(product)"><span class = "fa fa-trash"></span></button>
                </li>
            </ul>
          </td>
      </tr>
  </tbody>
</table>
<a class = "btn btn-success" [routerLink] = "['/admin/create-product']"><span class = "fa fa-plus-square"></span>&nbsp; Νέο Προϊόν</a>
</div>