/* You can add global styles to this file, and also import other style files */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  table, th, td {
    border-color: #ffc107 !important;
  }

.coloredBg{
  background-color: #683b12 !important;
}

.coloredBg:hover:not([disabled]){
  background-color: #884d16 !important;
}

.custom-fa{
  color: #ffc107 !important;
}
.custom-fa:hover{
  color: #fdda6e !important;
}

.coloredBg-rev{
  background-color: #ffc107 !important;
}

.coloredBg-rev:hover{
  background-color: #fdda6e !important;
}

.custom-fa-rev{
  color: #683b12 !important;
}
.custom-fa-rev:hover{
  color: #884d16 !important;
}

.bgbutton a{
  color: #ffc107 !important;
  background-color: #683b12 !important;
  border-color: #ffc107 !important;
}

.bgbutton a:hover{
  color: #fdda6e !important;
  background-color: #884d16 !important;
  border-color: #ffc107 !important;
}

.bgbutton a:focus {
  outline: none !important;
  box-shadow: none !important;
  border:2px solid #ffc107 !important;
}

.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}


.coloredBgNoHover{
  background-color: #683b12 !important;
}

.coloredBgNoHover-rev{
  background-color: #ffc107 !important;
}

.coloredTxt{
  color: #ffc107 !important;/* 845e3a */
}
.coloredTxt:hover:not([disabled]){
  color: #fdda6e !important;/*683b12*/
}
.coloredTxtNoHover{
  color: #ffc107 !important;/* 845e3a */
}

.dropdown-toggle{
  color: #ffc107 !important;
}
.dropdown-toggle:hover{
  color: #fdda6e !important;/*683b12*/
}

#toast-container > div {
  opacity:1;
  margin-top: 10px;
}

.back-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}