<app-map [mapPoints]="coffeeShopLocations" class="map-back"></app-map>

<div class="d-flex justify-content-start" style="height: 0">
    <div>
        <div class="card bg-light mb-3 shadow" style="width: 22rem; margin-top: 20px; margin-left: 20px;">
            <div class="card-header d-flex align-items-center">
                Αναζήτηση Καφέ
                <ul style="list-style: none" class="ml-auto mb-auto">
                        <li style="display:inline; margin-right: 5px"><button class="ml-auto btn btn-outline-primary" (click)="refocusMapGreece()"><span class="fa fa-globe"></span></button></li>
                        <li style="display:inline; margin-right: 5px"><button class="ml-auto btn btn-outline-primary" (click)="refocusMapSelf()"><span class="fa fa-map-marker"></span></button></li>
                    <li style="display:inline">
                            <button type="button" class="btn btn-outline-primary" (click)="showForm = !showForm">
                                    <span *ngIf="showForm" class="fa fa-angle-up"></span>
                                    <span *ngIf="!showForm" class="fa fa-angle-down"></span>
                                </button>

                    </li>
                </ul>              
            </div>
            <div class="card-body" [ngbCollapse]="!showForm" style="margin-left: 10px; margin-right: 10px">
                <div class="myform form">
                    <form [formGroup]="coffeeForm" (ngSubmit)="onSubmit()">

                        <div class="form-group row">
                            <label>Διεύθυνση:</label>
                            <div class="input-group">
                                <input type="text" class="form-control my-input" formControlName="address">
                                <div class="input-group-append">
                                    <button *ngIf="showMapEdit" class="btn btn-secondary btn-sm" (click)="allowEditMap()"><span
                                            class="fa fa-pencil"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label>Καφές:</label>
                            <input type="text" class="form-control my-input"
                                (input)="onSearchChange($event.target.value)" formControlName='coffee'
                                [ngbTypeahead]="availableProducts$">
                        </div>

                        <hr class="row">

                        <div class="form-group row mb-auto">
                            <button type="button" class="btn btn-outline-primary w-100"
                                (click)="showAdvancedSearch = !showAdvancedSearch">
                                Φίλτρα
                            </button>
                        </div>

                        <div class="row" [ngbCollapse]="!showAdvancedSearch" style="margin-top: 10px">
                            <div class="col">
                                <div class="form-group row">
                                    <label>Μέγιστη απόσταση: {{coffeeForm.value.maxDistance}} χλμ</label>
                                    <input type="range" min="1" max="5" value="1" class="form-control-range"
                                        formControlName="maxDistance">
                                </div>

                                <div class="form-group row">
                                    <label>Μέγιστη τιμή: {{coffeeForm.value.maxPrice}} &euro;</label>
                                    <input type="range" min="0.1" max="10" step="0.2" class="form-control-range"
                                        formControlName="maxPrice">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>