<app-map [mapPoints]="coffeeShopLocations" class="map-back" (shopClicked)="shopClicked($event)"></app-map>

<div class="d-flex justify-content-start" style="height: 0">
    <div>
        <div class="card bg-light mb-3 shadow" style="width: 24rem; margin-top: 20px; margin-left: 20px;">
            <div class="card-header d-flex align-items-center">
                Αναζήτηση Καφέ
                <ul style="list-style: none" class="ml-auto mb-auto">
                    <li style="display:inline; margin-right: 5px"><button class="ml-auto btn btn-outline-primary"
                            (click)='showCharts=true' [disabled]="activePrices == null || activePrices.length == 0"><span class="fa fa-bar-chart"></span></button></li>
                    <li style="display:inline; margin-right: 5px"><button class="ml-auto btn btn-outline-primary"
                            (click)="refocusMapGreece()"><span class="fa fa-globe"></span></button></li>
                    <li style="display:inline; margin-right: 5px"><button class="ml-auto btn btn-outline-primary"
                            (click)="refocusMapSelf()"><span class="fa fa-home"></span></button></li>
                    <li style="display:inline">
                        <button type="button" class="btn btn-outline-primary" (click)="showForm = !showForm">
                            <span *ngIf="showForm" class="fa fa-angle-up"></span>
                            <span *ngIf="!showForm" class="fa fa-angle-down"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="card-body" [ngbCollapse]="!showForm" style="margin-left: 10px; margin-right: 10px">
                <div class="myform form">
                    <form [formGroup]="coffeeForm">

                        <div class="form-group row">
                            <label>Διεύθυνση:</label>
                            <div class="input-group">
                                <input type="text" class="form-control my-input" formControlName="address">
                                <div class="input-group-append">
                                    <button *ngIf="showMapEdit" class="btn btn-secondary btn-sm"
                                        (click)="allowEditMap()"><span class="fa fa-pencil"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label>Καφές:</label>
                            <input type="text" class="form-control my-input"
                                (input)="onSearchChange($event.target.value)" formControlName='coffee'
                                [ngbTypeahead]="availableProducts$">
                        </div>

                        <div class="form-group row mb-auto">
                            <button type="button" class="btn btn-outline-primary w-100"
                                (click)="showAdvancedSearch = !showAdvancedSearch">
                                Φίλτρα
                            </button>
                        </div>

                        <div class="row" [ngbCollapse]="!showAdvancedSearch" style="margin-top: 10px">
                            <div class="col">
                                <div class="form-group row">
                                    <label>Μέγιστη απόσταση: {{coffeeForm.value.maxDistance}} χλμ</label>
                                    <input type="range" min="1" max="5" value="1" class="form-control-range"
                                        formControlName="maxDistance">
                                </div>

                                <div class="form-group row">
                                    <label>Μέγιστη τιμή: {{coffeeForm.value.maxPrice}} &euro;</label>
                                    <input type="range" min="0.1" max="10" step="0.2" class="form-control-range"
                                        formControlName="maxPrice">
                                </div>
                            </div>
                        </div>


                        <div class="row" *ngIf="showShopDetails" style="margin-top: 10px">
                            <div class="col">
                                <hr class="row">

                                <div class="row">
                                    <p>{{acitveShopPrice.shopName}}</p>
                                    <ul style="list-style: none" class="ml-auto mb-auto">
                                        <li style="display:inline; margin-right: 5px"><button
                                                class="ml-auto btn btn-outline-primary"
                                                (click)="focusOnActiveShop()"><span
                                                    class="fa fa-map-marker"></span></button></li>
                                        <li style="display:inline; margin-right: 5px"><button
                                                class="ml-auto btn btn-outline-secondary"
                                                (click)="closeShopDetails()"><span class="fa fa-close"></span></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row" style="margin-top: 5px; margin-bottom: -20px">
                                    <p>{{acitveShopPrice.shopAddress}}&nbsp;({{acitveShopPrice.shopDist | number:'1.0-0'}}&nbsp;χλμ)
                                    </p>
                                </div>
                                <hr class="row">

                                <div class="row" style="margin-bottom: 5px">
                                    Καφέδες:
                                </div>
                                <div class="row d-flex ml-3 justify-content-center">
                                    <table class="table table-sm table-bordered">
                                        <tr *ngFor="let p of acitveShopPrice.products">
                                            <td>{{p.productName}}</td>
                                            <td>{{p.price}}&nbsp;&euro;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" style="height: 0" *ngIf="showCharts">
    <div>
        <div class="card bg-light mb-3 shadow" style="width: 60vw; margin-top: 20px; margin-right: 20px;">
                <div class="card-header d-flex">
                    <h5 class="card-title w-100 text-center">Μέση τιμή καφέδων ανά ημέρα</h5>
                    <button class="ml-auto btn btn-outline-secondary" (click)="showCharts=false"><span class="fa fa-close"></span></button>
                </div>
            <div class="card-body">
                <app-charts [priceData]='activePrices' class="w-100"></app-charts>
            </div>
        </div>
    </div>
</div>