ul {
    list-style: none
}

ul > li{
    display: inline;
    margin-right: 5px
}

th, td {
    text-align: center;
    vertical-align: middle;
    border-color: #ffc107 !important;
}

  table {
    border-color: #ffc107 !important;
  }