
<div class="back-image">
	<img class="w-100" src="../../assets/images/coffee2.png">
</div>


<div class="container full-height d-flex align-items-start">
	<div class="jumbotron w-100" style="margin-top: 20px">
		<div class="row justify-content-center">
			<h1 class="font-weight-normal display-3 d-none d-sm-block">Καλώς Ορίσατε</h1>
			<p class="font-weight-bold text-mobile d-sm-none">Καλώς Ορίσατε</p>
		</div>
		<div class="row justify-content-center">
			<p class="lead">Ξεκινήστε την ημέρα σας με τον πιο γλυκό καφέ!</p>
		</div>
		<div class="row justify-content-center">
			<p class="lead">
				<a class="btn btn-warning btn-lg d-flex align-items-center text-coffee" [routerLink]="['/coffee']" role="button">
					<span><img class="java-coffee" src="../../assets/images/java-coffee.png"></span>&nbsp;&nbsp; Βρες τον καφέ σου!
				</a>
			</p>
		</div>
	</div>
</div>