.jumbotron {
    background: rgba(70, 42, 16, 0.9);
}

.java-coffee2 {
    content: url("../../assets/images/java-coffee2.png");
    width: 50px;
    height: 50px;
}

.java-coffee1 {
    content: url("../../assets/images/java-coffee3.png");
    width: 50px;
    height: 50px;
}

.java-euro2 {
    content: url("../../assets/images/kisspng-euro-sign-font-awesome-currency-symbol-computer-ic-icon-euro-5b2ca7c55a3dc7.587679701529653189369611.png");
    width: 50px;
    height: 50px;
}

.java-euro1 {
    content: url("../../assets/images/kisspng-euro-sign-font-awesome-currency-symbol-computer-ic-icon-euro-5b2ca7c55a3dc7.58767970152965318936961.png");
    width: 50px;
    height: 50px;
}

.text-mobile {
    font-size: 2em;
}

ul{
    list-style: none;
    display:flex;
}