.jumbotron {
    background: rgba(104, 59, 18, .8);
}

.java-coffee2 {
    content: url("../../assets/images/java-coffee2.png");
    width: 50px;
    height: 50px;
}

.java-coffee1 {
    content: url("../../assets/images/java-coffee3.png");
    width: 50px;
    height: 50px;
}

.text-mobile {
    font-size: 2em;
}