<div [ngClass]="{'card bg-light mb-3 shadow dummy' : isMap}" >
	<div [ngClass]="{'card-header' : isMap}">Υποβολή καταστήματος</div>
	<div [ngClass]="{'card-body dummy2' : isMap}">
		<div class="myform form">
			<form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
				<div class="form-group row">
					<input type="text" class="form-control my-input" placeholder="Όνομα" requried
						formControlName="name"
						[ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }">
					<div *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required"
						class="invalid-feedback">
						<p>Παρακαλώ εισάγετε όνομα στο κατάστημα</p>
					</div>
				</div>
				<div class="form-group row">
					<input type="text" class="form-control my-input" placeholder="Διεύθυνση" (blur)="addressLostFocus()"
						*ngIf="activeShop.id == '0'" requried formControlName="address"
						[ngClass]="{ 'is-invalid': address.invalid && (address.dirty || address.touched) }">
					<div *ngIf="address.invalid && (address.dirty || address.touched) && address.errors.required"
						class="invalid-feedback">
						<p>Παρακαλώ εισάγετε διεύθυνση καταστήματος</p>
					</div>
					<input class="form-control" type="text" *ngIf="!(activeShop.id == '0')" formControlName="address"
						[attr.disabled]="true">
				</div>
				<p *ngIf="showMapHelp" [ngClass]="{'card-text' : isMap}" ><small class="text-muted">Δεν είναι σωστή η τοποθεσία της
						καφετέρειας?<br>Επιλέξτε την επιθυμητή τοποθεσία στο χάρτη</small></p>

				<div class="row" style="margin-bottom: 10px">
					<label class="ml-1 mt-auto">Ετικέτες: &nbsp;</label><button class="btn btn-success btn-sm ml-auto"
						(click)="addTag()"><span class="fa fa-plus"></span></button>
				</div>
				<div formArrayName="tags">
					<div *ngFor="let tag of tags.controls ; let i=index">
						<div class="input-group mb-3 ml-3 row">
							<input class="form-control" required type="text" [formControlName]="i"
								[ngClass]="{ 'is-invalid': tag.invalid && (tag.dirty || tag.touched) }">
							<div class="input-group-append">
								<button class="btn btn-danger btn-sm" (click)="removeTag(i)"><span
										class="fa fa-trash"></span></button>
							</div>
							<div *ngIf="tag.invalid && (tag.dirty || tag.touched) && tag.errors.required"
								class="invalid-feedback">
								<p>Παρακαλώ εισάγετε όνομα ετικέτας</p>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center row" style="margin-top: 10px">
					<button type="submit" class=" btn btn-block send-button tx-tfm"
						[disabled]="!shopForm.valid">Υποβολή</button>
				</div>
			</form>
		</div>
	</div>
</div>
