<div class="container">
  <h2>Log In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-inline">
      <label>
        Όνομα: &nbsp;
      </label>
      <input class="form-control" type="text" formControlName="username">
    </div>

    <div class="form-inline">
      <label>
        Κωδικός: &nbsp;
      </label>
      <input class="form-control" type="password" formControlName="password">
    </div>
    <button class="btn btn-primary" type="submit" >Submit</button>
    <!-- href="#" [routerLink]="['/home']" -->
  </form>
  <div><a class="link" href="#" [routerLink]="['/register']">register</a></div>
</div>