<img class="back-image" src="../../../assets/images/100315_coffee_opener_NEW_0.jpg">

<div class="container">
		<div class="jumbotron" style="margin-top:20px">
	<div class="col-md-7 mx-auto text-center">
		<div class="header-title">
			<h1 class="wv-heading--title coloredTxtNoHover">
				Επεξεργασία Προϊόντος
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 mx-auto">
			<div class="myform form ">
				<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
					<div class="form-group row">
						<input type="text" class="form-control my-input" placeholder="Όνομα" required
							formControlName="name"
							[ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }">
						<div *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required"
							class="invalid-feedback">
							<p>Παρακαλώ εισάγετε όνομα στον καφέ</p>
						</div>
					</div>
					<div class="form-group row">
						<input type="text" class="form-control my-input" placeholder="Περιγραφή προϊόντος" required
							formControlName="description"
							[ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }">
						<div *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required"
							class="invalid-feedback">
							<p>Παρακαλώ εισάγετε περιγραφή του καφέ</p>
						</div>
					</div>
					<div class="form-group row">
						<input type="text" class="form-control my-input" placeholder="Κατηγορία" required
							formControlName="category"
							[ngClass]="{ 'is-invalid': category.invalid && (category.dirty || category.touched) }">
						<div *ngIf="category.invalid && (category.dirty || category.touched) && category.errors.required"
							class="invalid-feedback">
							<p>Παρακαλώ εισάγετε κατηγορία για τον καφέ</p>
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px">
					<label class="ml-1 mt-auto coloredTxtNoHover">Ετικέτες: &nbsp;</label><button class="btn custom-fa-rev coloredBg-rev no-focus ml-auto" (click)="addTag()"><span
							class="fa fa-plus"></span></button>
					</div>

					<div formArrayName="tags">
						<div *ngFor="let tag of tags.controls ; let i=index">
							<div class="input-group mb-3 ml-3 row">
								<input class="form-control" required type="text" [formControlName]="i"
									[ngClass]="{ 'is-invalid': tag.invalid && (tag.dirty || tag.touched) }">
								<div class="input-group-append">
									<button class="btn custom-fa coloredBg no-focus" (click)="removeTag(i)"><span
											class="fa fa-trash"></span></button>
								</div>
								<div *ngIf="tag.invalid && (tag.dirty || tag.touched) && tag.errors.required"
									class="invalid-feedback">
									<p>Παρακαλώ εισάγετε όνομα ετικέτας</p>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center row" style="margin-top: 20px">
						<button type="submit" class="coloredTxt coloredBg no-focus btn btn-block send-button tx-tfm"
							[disabled]="!productForm.valid">Υποβολή</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>