<div class="container">
  <button (click) = "displayMap()">Click Me</button>  
  <form [formGroup]="shopForm" (ngSubmit) = "onSubmit()">
        <div class = "form-inline">
        <label>
          Όνομα: &nbsp;
        </label>
        <input class="form-control" type="text" formControlName="name">
        </div>
    
        <div class = "form-inline" *ngIf = "activeShop.id == '0'">
        <label>
          Διεύθυνση: &nbsp;
        </label>
        <input class="form-control" type="text" formControlName="address">
        </div>

        <div class = "form-inline" *ngIf = "!(activeShop.id == '0')">
            <label>
              Διεύθυνση: &nbsp;
            </label>
            <input class="form-control" type="text" formControlName="address" [attr.disabled] = "true">
        </div>
    
        <label>
            Ετικέτες:  &nbsp;
        </label>
        <div class = "form-groop" formArrayName="tags">
          <div *ngFor="let tag of tags.controls ; let i=index">
            <div class = "form-inline">
            <input class="form-control" type="text" [formControlName]="i">
            &nbsp;
            <button class="btn btn-danger btn-sm" (click) = "removeTag(i)"><span class = "fa fa-trash"></span></button>
            </div>
          </div>
          <button class="btn btn-success btn-sm" (click) = "addTag()"><span class = "fa fa-plus"></span></button>
        </div>
        <button class = "btn btn-primary" type="submit" [disabled] = "!shopForm.valid">Submit</button>
      </form>
<app-map></app-map>
</div>