<section>
  <div class="container d-flex justify-content-center">
    <div class="jumbotron" style="width: 1000px; height: 250px">
    <!-- <div class="card col-md-7"> -->
      <div class="row">
        <div class="col-md-6">
          <div class="card-block">
            <h4 class="card-title">Curabitur gravida vestibulum imperdiet.</h4>
            <p class="card-text-center">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus
              vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl
              eleifend interdum.</p>
          </div>
        </div>
        <div class="col-md-6 justify-content-end">
          <img class="card-img-bottom" style="border-radius: 50%; transform: scale(0.5)" src="../../assets/images/12742104_862215910554728_9117724714660159695_n.jpg">
        </div>
      </div>
    </div>
  </div>
</section>