<div class="back-image">
  <img class="w-100" src="../../assets/images/coffee-main-icon.jpg">
</div>


<div class="card-columns d-flex justify-content-center align-middle">
  <div class="card card-back shadow-lg rounded" style="transform: scale(0.5); padding: 20px">
    <img class="card-img-top" src="../../assets/images/20637818_496167710733707_175855909621166854_n.jpg"
      style="border-radius: 50%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title coloredTxtNoHover" style="font-size: 50px">Card title</h5>
      <p class="card-text coloredTxtNoHover" style="font-size: 30px">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little
        bit longer.</p>
    </div>
  </div>
  <div class="card card-back border-0" style="transform: scale(0.5)">
    <img class="card-img-top" src="../../assets/images/49204428_10213106496878425_715696668552462336_n.jpg"
      style="border-radius: 50%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title coloredTxtNoHover" style="font-size: 50px">Card title</h5>
      <p class="card-text coloredTxtNoHover" style="font-size: 30px">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little
        bit longer.</p>
    </div>
  </div>
  <div class="card card-back border-0" style="transform: scale(0.5)">
    <img class="card-img-top" src="../../assets/images/12742104_862215910554728_9117724714660159695_n.jpg"
      style="border-radius: 50%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title coloredTxtNoHover" style="font-size: 50px">Card title</h5>
      <p class="card-text coloredTxtNoHover" style="font-size: 30px">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little
        bit longer.</p>
    </div>
  </div>
  <div class="card card-back border-0" style="transform: scale(0.5) ">
    <img class="card-img-top" src="../../assets/images/14344104_1669882963339434_6382403671521450179_n.jpg"
      style="border-radius: 50%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title coloredTxtNoHover" style="font-size: 50px">Card title</h5>
      <p class="card-text coloredTxtNoHover" style="font-size: 30px">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little
        bit longer.</p>
    </div>
  </div>
  

</div>