<img class="back-image" src="../../assets/images/coffee-main-icon.jpg">

<div class="container d-flex align-items-center">
<div class="card-deck">
	<div class="card shadow">
		<div class="card-body text-center">
				<img class="card-img-top img-fluid" src="../../assets/images/20637818_496167710733707_175855909621166854_n.jpg">

				<h5 class="card-title coloredTxtNoHover">Μιχάλης Μεγγίσογλου</h5>
				<p class="card-text coloredTxtNoHover">Η επιστήμη των υπολογιστών ασχολείται τόσο με τους υπολογιστές
					όσο η αστρονομία με τα τηλεσκόπια.
				</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body text-center">
				<img class="card-img-top img-fluid" src="../../assets/images/49204428_10213106496878425_715696668552462336_n.jpg">

				<h5 class="card-title coloredTxtNoHover">Παναγιώτης Ζώγας</h5>
				<p class="card-text coloredTxtNoHover">Απ' ό,τι φαίνεται ο καφές είναι ο περίεργος πατέρας της εφεύρεσης.</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body text-center">
				<img class="card-img-top img-fluid" src="../../assets/images/12742104_862215910554728_9117724714660159695_n.jpg">

				<h5 class="card-title coloredTxtNoHover">Αλέξης Ζαμάνης</h5>
				<p class="card-text coloredTxtNoHover">οι προγραμματιστές είναι μηχανές που μετατρέπουν τον καφέ σε προγράμματα.</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body text-center">
				<img class="card-img-top img-fluid" src="../../assets/images/14344104_1669882963339434_6382403671521450179_n.jpg">

				<h5 class="card-title coloredTxtNoHover">Ελένη Στραϊτούρη</h5>
				<p class="card-text coloredTxtNoHover">Ας είναι ο καφές σου δυνατός και οι δευτέρες σου μικρές.</p>
		</div>
	</div>
</div>
</div>